/Makefile
/bin/pindel
/bin/filter_pindel_reads
/perl/blib
/perl/docs
/pm_to_blib
/MANIFEST.bak
/install_tmp
/setup.log
/nytprof.out
/nytprof
/perl/bin/filter_pindel_reads
/perl/bin/pindel
/LICENCE.TXT
/README.TXT
/licence_head.txt
/perl/perltidy.LOG
/perl/MYMETA.json
/perl/MYMETA.yml
/perl/Makefile
/perl/pm_to_blib
.idea/*
/python/env
.vstags

